.thankyou {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    color: #333;
    .thank-you-message {
        font-size: 24px;
        margin-bottom: 10px;
        color: #2e7d32;
    }
    .order-details {
        font-size: 16px;
        color: #555;
        margin: 10px 0;
    }
    
    .support {
        font-size: 14px;
        color: #777;
    }
    
    .home-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        color: #fff;
        background-color: #2e7d32;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    
        &:hover {
            background-color: #1b5e20;
        }
    }
}

