.profile-user {
    background-color: #fffdfd;
    border-radius: 10px;
    margin-left: 50px;
    padding: 25px 30px;
    width: 70%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .title {
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;

        h4 {
            font-size: 1.5rem;
            color: #333;
            font-weight: 700;
        }

        p {
            font-size: 1rem;
            color: #333;
            font-weight: 400;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }
    }

    form {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .form-group {
            margin-bottom: 20px;
            width: 80%;

            .form-input {
                width: 100%;
                margin-bottom: 20px;

                label {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1rem;
                    color: #333;
                    font-weight: 500;
                    width: 30%;
                    text-align: right;
                    padding-right: 20px;
                }

                span {
                    color: red;
                }

                input {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #333;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background-color: #fffdfd;
                    width: 55%;
                }

                .error {
                    position: relative;
                    left: 205px;
                    max-width: 372px;
                    color: red;
                    font-size: 15px;
                    font-weight: 400;
                    margin-top: 5px;
                }

                .input-error {
                    border: 1px solid red !important;
                }
            }
        }

        .button {
            display: flex;
            justify-content: center;
            max-width: 555px;

            .btn-save {
                font-family: 'Montserrat', sans-serif;
                font-size: 0.9rem;
                color: #fff;
                font-weight: 600;
                background-color: #015ace;
                padding: 13px 17px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                width: 23%;
                transition: all 0.3s;

                &:hover {
                    background-color: #004AAD;
                }
            }
        }

    }
}

@media (max-width: 900px) {
    .profile-user {
        margin-left: 20px;

        .title {
            h4 {
                font-size: 20px;
                text-align: center;
            }

            p {
                font-size: 15px;
                text-align: center;
            }
        }

        form {
            margin: 0 auto;

            .form-group {
                width: 100%;

                .form-input {
                    label {
                        width: 100%;
                        text-align: left;
                        padding-right: 0;
                    }

                    input {
                        width: 100%;
                    }

                    .error {
                        left: 0;
                    }
                }

                .btn-save {
                    width: 100%;
                }
            }
        }
    }
}