.purchase-order {
    background-color: #fffdfd;
    border-radius: 10px;
    margin-left: 50px;
    padding: 25px 30px;
    width: 70%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}