.purchase-order {
    background-color: #fffdfd;
    border-radius: 10px;
    margin-left: 50px;
    padding: 25px 30px;
    width: 70%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .body {
        margin: 20px 0;
        padding: 20px 0;
        border: 1px solid rgb(67, 67, 67);
        border-radius: 8px;
        height: auto;

        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 17px;
            font-weight: normal;
            cursor: pointer;

            .left {
                display: flex;
                margin: 0 10px 0 20px;

                img {
                    height: 81px;
                    width: 81px;
                }
            }

            .content {
                margin-left: 10px;

                p {
                    &:first-child {
                        margin-bottom: 0;
                        color: rgb(71, 71, 71);
                    }

                    &:last-child {
                        font-size: 15px;
                        color: rgb(71, 71, 71);
                    }
                }
            }

            .right {
                display: flex;
                padding-right: 20px;

                p {
                    color: rgb(71, 71, 71);
                }
            }
        }

        &_bot {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            a {
                text-decoration: none;
                color: #0243f5;
            }

            .total {
                span {
                    &:first-child {
                        font-size: 17px;
                    }

                    &:last-child {
                        margin-right: 20px;
                        color: #004AAD;
                        font-size: 21px;
                        font-weight: 700;
                    }
                }
            }

            .btn {
                a {
                    font-size: 17px;
                    margin-right: 10px;

                    &.pending {
                        color: #a39f17;
                    }

                    &.success {
                        color: rgb(38, 223, 38);
                    }

                    &.cancel {
                        color: rgb(239, 50, 50);
                    }
                }

                button {
                    border: none;
                    border-radius: 4px;
                    background-color: transparent;
                    color: white;
                    font-size: 17px;

                    &:hover {
                        background-color: #4a97fc;
                        transition: all 0.37s;
                    }
                }
            }

            .btn-cancel {
                margin-right: 8px;
                padding: 5px 10px;
                background-color: rgb(253, 122, 0) !important;

                &:hover {
                    background-color: rgba(255, 153, 0, 0.705) !important;
                }
            }
        }
    }
}