.list-product {
    display: flex;
    background: linear-gradient(#5083EB 0%, #B4C0FF 100%);

    .dropdown {
        .custom-active {
            color: #004AAD;
            font-weight: 600;
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            background-color: #fdfdfd;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f6f6f6;
            }
        }

        .custom-dropdown {
            background-color: transparent;
            border: none;

            li {
                margin-right: 10px;

                a {
                    color: #004AAD;
                    font-weight: 600;
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    padding: 10px;
                    text-align: center;
                    display: block;
                    background-color: #ffff;
                    margin: 5px 0;
                    border-radius: 10px;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #f6f6f6;
                    }
                }
            }

            .hide {
                display: none;
            }
        }
    }

    .content {
        .list-product_item {
            .custom {
                height: 30%;

                .product {
                    margin-bottom: 80px;
                    transition: transform 0.3s;
                    background: url('https://res.cloudinary.com/dwyzqcunj/image/upload/v1725335832/Rectangle_78_opzqmb.svg') no-repeat center;
                    background-size: contain;
                    height: 80%;
                    width: 100%;

                    &:hover {
                        transform: scale(1.013);
                    }

                    .item {
                        height: 100%;
                        width: 100%;

                        .product-info {
                            width: 100%;
                            height: 460px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            padding: 10px;
                            color: #ffffff;

                            a {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                width: 90%;
                                height: 82%;
                            }

                            img {
                                width: 50%;
                                height: 60%;
                                margin-bottom: 5px;
                            }

                            p {
                                text-align: center;
                                color: #004AAD;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 600;
                                font-size: 19px;
                                margin: 10px 0;
                            }
                        }
                    }
                }

                .action {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    transition: all 0.3s;

                    button {
                        color: #004AAD;
                        background-color: #fdfdfd;
                        font-weight: 600;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 15px;
                        border: none;
                        border-radius: 16px;
                        padding: 13px 14px;
                        white-space: nowrap;
                        transition: background-color 0.3s, color 0.3s;

                        &:hover {
                            background-color: #f6f6f6;
                            color: #004AAD;
                        }
                    }

                    a {
                        text-align: center;
                        width: 50%;
                    }
                }
            }
        }
    }

    .page-link {
        background-color: #004AAD;
        color: #ffffff;
        border: none;
        margin: 0 10px;
        cursor: pointer;
        border-radius: 5px;
    }
}

@media (max-width: 1444px) {
    .content .list-product_item .custom .product .item .product-info a {
        width: 40%;
    }

    .content .list-product_item .custom .action {
        width: 30%;
        margin-left: 17px;
    }

    .content .list-product_item .custom .action a button {
        display: none;
    }
}

@media (max-width: 450px) {
    .list-product .content .list-product_item .custom .product .item .product-info {
        height: 274px;
    }

    .list-product .content .list-product_item .custom .action button {
        scale: 0.69;
    }
}