@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    color: #004AAD;
    font-family: 'Montserrat', sans-serif;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
    }

    .left {
        margin: 4vh 0;

        p {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .middle {
        margin: 4vh 0;

        p {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .right {
        margin: 4vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .middle {
            margin: 13px;

            p {
                font-size: 1.2rem;
                font-weight: 600;
                margin: 0;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-around;
            width: 100%;

            img {
                cursor: pointer;
            }
        }

    }
}