.homepage {

    .carousel {
        &.slide {

            .carousel-inner {
                .carousel-item {

                    &.c1,
                    &.c3 {
                        img {
                            position: relative;
                            top: -10px;
                        }
                    }

                    &.c1,
                    &.c2,
                    &.c3,
                    &.c4 {
                        height: 706px;
                        background-color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }


    .accessory {
        .title {
            background-color: white;
            font-size: 31px;
            font-weight: 700;
            margin-bottom: 20px;
            padding: 18px;
            text-align: center;
            color: #004AAD;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .product {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-item {
            margin-top: 50px;
            background-image: url('https://res.cloudinary.com/dwyzqcunj/image/upload/v1724218358/%C3%B4_2_bh7sie.svg');
            background-repeat: no-repeat;
            height: 300px;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                margin-right: 20px;
                padding-bottom: 24px;
            }

            &:hover {
                scale: 1.02;
                transition: all 0.3s;
            }
        }

        .product-more {
            margin-top: 50px;

            button {
                color: #004AAD;
                font-size: 20px;
                font-weight: 700;
                border-radius: 32px;
                padding: 15px 50px;
                font-family: 'Montserrat', sans-serif;
                background-color: transparent;
                background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.1) 100%);
                border: none;
                position: relative;
                overflow: hidden;
                z-index: 1;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.1) 100%);
                    z-index: -1;
                    transition: all 0.2s;
                }

                &:hover::before {
                    opacity: 0.1;
                }
            }
        }
    }
}